includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - tests
    excludePaths:
        - src/Integration/Prism/*
        - tests/Integration/PrismIntegrationTest.php
        - tests/Unit/Prism/*
    ignoreErrors:
        - '#Trait Langfuse\\Support\\Traits\\GeneratesIds is used zero times#'
        - '#Property Langfuse\\Client\\LangfuseClient::\$config is never read, only written.#'
        - '#Property Langfuse\\Client\\LangfuseClient::\$apiClient is never read, only written.#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with true will always evaluate to true.#'
        - '#Property Langfuse\\Tests\\.* is never read, only written.#'
        - '#Call to method PHPUnit\\Framework\\Assert::assertNotNull\(\) with .* will always evaluate to true.#'
        # On Laravel 10, some types are resolved as MockInterface instead of the expected interface due to missing dev dependencies
        - '#Parameter .* expects .*, Mockery\\MockInterface given.#'
